# Exploratory Data Analysis

We have data on happiness, democracy, and __. Let's first take a look at all the data and make something interesting out of some horrendous datasets.

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import altair as alt
from altair_data_server import data_server
import os 
import re

# Happiness Data

## Useful Links
* [geoJSON file downloads](https://gadm.org/download_country.html)

In [2]:
path = "Datasets/Happiness_Data/World_Happiness_Reports"
# The pattern looks for a sequence of exactly four digits
pattern = r"\d{4}"

country_sets = []
dataframes = []

# loop through all the happiness.csv files for each year and gather the happiness scores
for filename in os.scandir(path):
    print("Working on: " + filename.path)

    # the current csv file we're working on 
    curr_df = pd.read_csv(filename)
    
    # some countries had an asterisk next to their name, so remove those
    curr_df['Country'] = curr_df['Country'].str.replace('*', '', regex=True)

    # there are differnt number of countries in different files, so we want to collect all the countries 
    country_set = set(curr_df['Country'].tolist())
    country_sets.append(country_set)

    # add "_year" after the Happiness Score for columns
    match = re.search(pattern, filename.path)
    year = match.group(0) if match else None 
    curr_df.rename(columns={"Happiness Score":"Happiness Score " + year,
                            "Social support":"Social Support " + year}, inplace=True)
    dataframes.append(curr_df)
    
    print(f"\tColumns: {curr_df.columns}")
# use sets to just get the unique countries
common_countries = set.union(*country_sets)

Working on: Datasets/Happiness_Data/World_Happiness_Reports/2020.csv
	Columns: Index(['Country', 'Regional indicator', 'Happiness Score 2020',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social Support 2020',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')
Working on: Datasets/Happiness_Data/World_Happiness_Reports/2021.csv
	Columns: Index(['Country', 'Regional indicator', 'Happiness Score 2021',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social Support 2021',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')
Working on: Datasets/Happiness_Data/World_Happiness_Reports/2022.csv
	Columns: Index(['Happiness Rank', 'Country', 'Happiness Score 2022', 'Whisker-high',
       'Whisker-low', 'Dystopia (1.83) + residual',
       'Explained by: GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')
Working on: Datasets/Happiness_Data/World_Happiness_Reports/2019.csv
	Columns: Index(['Happiness Rank', 'Country', 'Happiness Score 2019', 'GDP per capita',
       'Social Support 2019', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Working on: Datasets/Happiness_Data/World_Happiness_Reports/2018.csv
	Columns: Index(['Happiness Rank', 'Country', 'Happiness Score 2018', 'GDP per capita',
       'Social Support 2018', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Working on: Datasets/Happiness_Data/World_Happiness_Reports/2015.csv
	Columns: Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score 2015',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
Working on: Datasets/Happiness_Data/World_Happiness_Reports/2016.csv
	Columns: Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score 2016',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
Working on: Datasets/Happiness_Data/World_Happiness_Reports/2017.csv
	Columns: Index(['Country', 'Happiness Rank', 'Happiness Score 2017', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [3]:
# Filter each dataset to only include rows with countries in the common countries set
filtered_dataframes = []
for df in dataframes:
    filtered_df = df[df["Country"].isin(common_countries)]
    filtered_dataframes.append(filtered_df)

In [6]:
# create the happiness dataframe
pattern = r"Happiness Score"
happiness_df = filtered_dataframes[0][['Country']]
for i, df in enumerate(filtered_dataframes):
    # Extract the country and happiness score columns
    filtered_columns = df.filter(regex=pattern)

    country_happiness_df = pd.concat([df['Country'], filtered_columns], axis=1)

    # Merge the result DataFrame with the country_happiness_df on the 'Country' column
    happiness_df = happiness_df.merge(country_happiness_df, on='Country', how='right')

# Split the DataFrame into the first column and the remaining columns
first_column = happiness_df.iloc[:, 0:1]
remaining_columns = happiness_df.iloc[:, 1:]

# Sort the remaining columns
sorted_remaining_columns = remaining_columns.sort_index(axis=1)

# Concatenate the first column with the sorted remaining columns
happiness_df = pd.concat([first_column, sorted_remaining_columns], axis=1)

happiness_df['Happiness Score 2022'] = happiness_df['Happiness Score 2022'].str.replace(',','.')
happiness_df['Happiness Score 2022'] = pd.to_numeric(happiness_df['Happiness Score 2022'], errors ='ignore').astype(pd.Float64Dtype())

happiness_df

,Country,Happiness Score 2015,Happiness Score 2016,Happiness Score 2017,Happiness Score 2018,Happiness Score 2019,Happiness Score 2020,Happiness Score 2021,Happiness Score 2022
0,Norway,7.522,7.498,7.537,7.594,7.554,7.4880,7.392,"7,365"
1,Denmark,7.527,7.526,7.522,7.555,7.600,7.6456,7.620,"7,636"
2,Iceland,7.561,7.501,7.504,7.495,7.494,7.5045,7.554,"7,557"
3,Switzerland,7.587,7.509,7.494,7.487,7.480,7.5599,7.571,"7,512"
4,Finland,7.406,7.413,7.469,7.632,7.769,7.8087,7.842,"7,821"
...,...,...,...,...,...,...,...,...,...
150,Rwanda,3.465,3.515,3.471,3.408,3.334,3.3123,3.415,"3,268"
151,Syria,3.006,3.069,3.462,3.462,3.462,NaN,NaN,NaN
152,Tanzania,3.781,3.666,3.349,3.303,3.231,3.4762,3.623,"3,702"
153,Burundi,2.905,2.905,2.905,2.905,3.775,NaN,NaN,NaN
154,Central African Republic,NaN,NaN,2.693,NaN,NaN,NaN,NaN,NaN

In [5]:
# Let's make a choropleth map, so we need to upload geojson files
countries_filepath = 'Datasets/geoJSONs/countries.geojson'
countries_gdf = gpd.read_file(countries_filepath)
countries_gdf = countries_gdf.rename(columns={'ADMIN':'Country'})

In [6]:
# Merge happiness data so we can look at the different levels of happiness in different countries across different years
happiness_countries_merged_df = countries_gdf.merge(happiness_df, on='Country', how = 'right')
happiness_countries_merged_df

,Country,ISO_A3,ISO_A2,geometry,Happiness Score_2015,Happiness Score_2016,Happiness Score_2017,Happiness Score_2018,Happiness Score_2019,Happiness Score_2020,Happiness Score_2021,Happiness Score_2022
0,Norway,NOR,NO,"MULTIPOLYGON (((3.38258 -54.44931, 3.36451 -54...",7.522,7.498,7.537,7.594,7.554,7.4880,7.392,7.365
1,Denmark,DNK,DK,"MULTIPOLYGON (((11.25603 54.95458, 11.30348 54...",7.527,7.526,7.522,7.555,7.600,7.6456,7.620,7.636
2,Iceland,ISL,IS,"MULTIPOLYGON (((-20.26964 63.40913, -20.27953 ...",7.561,7.501,7.504,7.495,7.494,7.5045,7.554,7.557
3,Switzerland,CHE,CH,"MULTIPOLYGON (((8.61744 47.75732, 8.62984 47.7...",7.587,7.509,7.494,7.487,7.480,7.5599,7.571,7.512
4,Finland,FIN,FI,"MULTIPOLYGON (((22.44370 59.85147, 22.42774 59...",7.406,7.413,7.469,7.632,7.769,7.8087,7.842,7.821
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,RWA,RW,"MULTIPOLYGON (((30.47179 -1.06684, 30.46386 -1...",3.465,3.515,3.471,3.408,3.334,3.3123,3.415,3.268
151,Syria,SYR,SY,"MULTIPOLYGON (((42.23683 37.28630, 42.26722 37...",3.006,3.069,3.462,3.462,3.462,NaN,NaN,<NA>
152,Tanzania,NaN,NaN,None,3.781,3.666,3.349,3.303,3.231,3.4762,3.623,3.702
153,Burundi,BDI,BI,"MULTIPOLYGON (((30.41507 -2.31309, 30.41848 -2...",2.905,2.905,2.905,2.905,3.775,NaN,NaN,<NA>
154,Central African Republic,CAF,CF,"MULTIPOLYGON (((22.55576 10.97897, 22.57705 10...",NaN,NaN,2.693,NaN,NaN,NaN,NaN,<NA>

In [7]:
# Congo was originally broken into "Congo (Brazzaville)" and "Congo (Kinshasa)", I couldn't find a geojson file for them, but I could for Congo, so I just took the average. 
congo_rows = happiness_countries_merged_df[happiness_countries_merged_df['Country'].isin(['Congo (Brazzaville)', 'Congo (Kinshasa)'])]
avg_row = congo_rows.mean(numeric_only=True)

# Create a new row with the average values
new_row = congo_rows.iloc[0].copy()
new_row[new_row.index.str.startswith('Happiness Score ')] = avg_row

# Set the new country name
new_row['Country'] = 'Congo'

# Remove the original rows from the DataFrame
happiness_countries_merged_df = happiness_countries_merged_df[~happiness_countries_merged_df['Country'].isin(['Congo (Brazzaville)', 'Congo (Kinshasa)'])]

# Add the new row with the average values to the DataFrame
happiness_countries_merged_df = happiness_countries_merged_df.append(new_row, ignore_index=True)
happiness_countries_merged_df

/var/folders/fg/mmz1wr455573gbjtgs95h4t80000gp/T/ipykernel_25334/4138346147.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  happiness_countries_merged_df = happiness_countries_merged_df.append(new_row, ignore_index=True)

,Country,ISO_A3,ISO_A2,geometry,Happiness Score_2015,Happiness Score_2016,Happiness Score_2017,Happiness Score_2018,Happiness Score_2019,Happiness Score_2020,Happiness Score_2021,Happiness Score_2022
0,Norway,NOR,NO,"MULTIPOLYGON (((3.38258 -54.44931, 3.36451 -54...",7.522,7.498,7.5370,7.594,7.554,7.4880,7.392,7.365
1,Denmark,DNK,DK,"MULTIPOLYGON (((11.25603 54.95458, 11.30348 54...",7.527,7.526,7.5220,7.555,7.600,7.6456,7.620,7.636
2,Iceland,ISL,IS,"MULTIPOLYGON (((-20.26964 63.40913, -20.27953 ...",7.561,7.501,7.5040,7.495,7.494,7.5045,7.554,7.557
3,Switzerland,CHE,CH,"MULTIPOLYGON (((8.61744 47.75732, 8.62984 47.7...",7.587,7.509,7.4940,7.487,7.480,7.5599,7.571,7.512
4,Finland,FIN,FI,"MULTIPOLYGON (((22.44370 59.85147, 22.42774 59...",7.406,7.413,7.4690,7.632,7.769,7.8087,7.842,7.821
...,...,...,...,...,...,...,...,...,...,...,...,...
149,Syria,SYR,SY,"MULTIPOLYGON (((42.23683 37.28630, 42.26722 37...",3.006,3.069,3.4620,3.462,3.462,NaN,NaN,<NA>
150,Tanzania,NaN,NaN,None,3.781,3.666,3.3490,3.303,3.231,3.4762,3.623,3.702
151,Burundi,BDI,BI,"MULTIPOLYGON (((30.41507 -2.31309, 30.41848 -2...",2.905,2.905,2.9050,2.905,3.775,NaN,NaN,<NA>
152,Central African Republic,CAF,CF,"MULTIPOLYGON (((22.55576 10.97897, 22.57705 10...",NaN,NaN,2.6930,NaN,NaN,NaN,NaN,<NA>
153,Congo,NaN,NaN,None,4.253,4.254,4.2855,4.402,4.615,NaN,NaN,<NA>

In [8]:
# Hong Kong's original name was too long so I changed it to "Hong Kong"
happiness_countries_merged_df.at[70,'Country'] = 'Hong Kong'

In [10]:
happiness_countries_merged_df

,Country,ISO_A3,ISO_A2,geometry,Happiness Score_2015,Happiness Score_2016,Happiness Score_2017,Happiness Score_2018,Happiness Score_2019,Happiness Score_2020,Happiness Score_2021,Happiness Score_2022
0,Norway,NOR,NO,"MULTIPOLYGON (((3.38258 -54.44931, 3.36451 -54...",7.522,7.498,7.5370,7.594,7.554,7.4880,7.392,7.365
1,Denmark,DNK,DK,"MULTIPOLYGON (((11.25603 54.95458, 11.30348 54...",7.527,7.526,7.5220,7.555,7.600,7.6456,7.620,7.636
2,Iceland,ISL,IS,"MULTIPOLYGON (((-20.26964 63.40913, -20.27953 ...",7.561,7.501,7.5040,7.495,7.494,7.5045,7.554,7.557
3,Switzerland,CHE,CH,"MULTIPOLYGON (((8.61744 47.75732, 8.62984 47.7...",7.587,7.509,7.4940,7.487,7.480,7.5599,7.571,7.512
4,Finland,FIN,FI,"MULTIPOLYGON (((22.44370 59.85147, 22.42774 59...",7.406,7.413,7.4690,7.632,7.769,7.8087,7.842,7.821
...,...,...,...,...,...,...,...,...,...,...,...,...
149,Syria,SYR,SY,"MULTIPOLYGON (((42.23683 37.28630, 42.26722 37...",3.006,3.069,3.4620,3.462,3.462,NaN,NaN,<NA>
150,Tanzania,NaN,NaN,None,3.781,3.666,3.3490,3.303,3.231,3.4762,3.623,3.702
151,Burundi,BDI,BI,"MULTIPOLYGON (((30.41507 -2.31309, 30.41848 -2...",2.905,2.905,2.9050,2.905,3.775,NaN,NaN,<NA>
152,Central African Republic,CAF,CF,"MULTIPOLYGON (((22.55576 10.97897, 22.57705 10...",NaN,NaN,2.6930,NaN,NaN,NaN,NaN,<NA>
153,Congo,NaN,NaN,None,4.253,4.254,4.2855,4.402,4.615,NaN,NaN,<NA>

At this point there are still a few countries that have happiness scores but aren't on the map, so we're going to find their geojson files and add them to the happiness dataframe.

In [11]:
countries_missing_geometry_df = happiness_countries_merged_df[happiness_countries_merged_df['geometry']==None]
countries_missing_geometry_df

,Country,ISO_A3,ISO_A2,geometry,Happiness Score_2015,Happiness Score_2016,Happiness Score_2017,Happiness Score_2018,Happiness Score_2019,Happiness Score_2020,Happiness Score_2021,Happiness Score_2022
32,Taiwan Province of China,NaN,NaN,None,NaN,NaN,6.4220,NaN,NaN,NaN,NaN,<NA>
60,North Cyprus,NaN,NaN,None,5.695,5.771,5.8100,NaN,NaN,NaN,NaN,<NA>
70,Hong Kong,NaN,NaN,None,NaN,NaN,5.4720,NaN,NaN,NaN,NaN,<NA>
72,Serbia,NaN,NaN,None,5.123,5.177,5.3950,5.398,5.603,5.7782,6.078,6.178
102,Palestinian Territories,NaN,NaN,None,4.715,4.754,4.7750,4.743,4.696,4.5528,4.517,4.483
150,Tanzania,NaN,NaN,None,3.781,3.666,3.3490,3.303,3.231,3.4762,3.623,3.702
153,Congo,NaN,NaN,None,4.253,4.254,4.2855,4.402,4.615,NaN,NaN,<NA>

In [12]:
# Downloaded the geojson files for the countries that countries.geojson didn't have and add them into countries_missing_geometry_df

missing_countries_path = 'Datasets/geoJSONs/OG_Missing_Countries/'
for _, row in countries_missing_geometry_df.iterrows():
    country = row['Country']
    country_path = country.replace(' ', '_')
    # Read the corresponding geoJSON flie
    
    country_geojson = os.path.join(missing_countries_path,f'{country_path}.geojson')

    if os.path.exists(country_geojson):
        country_gdf = gpd.read_file(country_geojson)
        multi_poly = country_gdf.unary_union
        new_gdf = gpd.GeoDataFrame(geometry=[multi_poly], crs=country_gdf.crs)
        country_geometry = new_gdf['geometry'].iloc[0]
        happiness_countries_merged_df.loc[happiness_countries_merged_df['Country'] == country, 'geometry'] = country_geometry
    else:
        country_geojson = os.path.join(missing_countries_path,f'{country_path}.json')
        country_gdf = gpd.read_file(country_geojson)
        multi_poly = country_gdf.unary_union
        new_gdf = gpd.GeoDataFrame(geometry=[multi_poly], crs=country_gdf.crs)
        country_geometry = new_gdf['geometry'].iloc[0]
        happiness_countries_merged_df.loc[happiness_countries_merged_df['Country'] == country, 'geometry'] = country_geometry

In [13]:
# Convert the GeoDataFrame to a long format DataFrame
happiness_long_df = happiness_countries_merged_df.melt(
    id_vars=['Country', 'ISO_A3', 'ISO_A2', 'geometry'],
    value_vars=['Happiness Score 2015', 'Happiness Score 2016', 'Happiness Score 2017', 'Happiness Score 2018',
                'Happiness Score 2019', 'Happiness Score 2020', 'Happiness Score 2021', 'Happiness Score 2022'],
    var_name='Year',
    value_name='Happiness Score'
)

# Extract the year from the Year column
happiness_long_df['Year'] = happiness_long_df['Year'].str.extract('(\d+)').astype(int)

# Use the data_server provider to allow Altair to work with the GeoDataFrame directly
alt.data_transformers.register('data_server', data_server)
alt.data_transformers.enable('data_server')

# Define the base chart
base_chart = alt.Chart(happiness_long_df).mark_geoshape(
    stroke='black',
    strokeWidth=0.5
).encode(
    tooltip=[
        alt.Tooltip('Country:N', title='Country'),
    ]
).project('equirectangular')

# Create a list of years for which you have happiness scores
years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

# Create a slider for selecting the year
year_slider = alt.binding_range(min=years[0], max=years[-1], step=1)
slider_selection = alt.selection_single(bind=year_slider, fields=['Year'], name='Select', init={'Year': years[0]})

# Define the choropleth map using the year slider
map_chart = base_chart.add_selection(
    slider_selection
).transform_filter(
    slider_selection
).encode(
    color=alt.Color('Happiness Score:Q', title='Happiness Score', scale=alt.Scale(scheme='viridis')),
    tooltip=[
        alt.Tooltip('Country:N', title='Country'),
        alt.Tooltip('Happiness Score:Q', title='Happiness Score')
    ]
).properties(
    title="Happiness Score by Country",
    width = 800, 
    height = 600
)

# Display the map
map_chart

alt.Chart(...)

### Reflection
Brighter colors mean the country is higher on the happy index than countries shaded in darker colors. In accordance with our hypothesis, the colors of the map get darker between 2018 and 2019 due to COVID and as the world started to recover from COVID, the map got brighter. This is what we expected. Moving forward, I think we should consider using Finland, Sweden, and Norway as standards of high happiness. I don't know whether we should use Syria or Afghanistan as standards of lower happiness, though. It might also be interesting to do a directo comparison of Russia (5.468)/China (5.191) vs. Canada (7.278)/USA (6.892). I don't really know if these numbers are different enough that a comparison might yield something significant.

# Democracy Index

In [14]:
import pandas as pd
import geopandas as gpd
import altair as alt
from altair_data_server import data_server

In [15]:
# import and fix democracy data
democracy_path = 'Datasets/Democracy_Index/democracy.csv'
democracy_df = pd.read_csv(democracy_path)
democracy_df = democracy_df[democracy_df['Year'] >= 2015]
democracy_df = democracy_df.pivot(index='Entity', columns='Year', values='democracy_eiu')
democracy_df.columns = [f'democracy_score_{col}' for col in democracy_df.columns]
democracy_df.reset_index(inplace=True)

# We don't need the scores of the continents and the world 
remove = [
    'Africa',
    'North America',
    'World',
    'South America',
    'Europe',
    'Asia',
    'Oceania'
]

democracy_df = democracy_df[~democracy_df['Entity'].isin(remove)]
democracy_countries = democracy_df['Entity'].unique()
democracy_df

,Entity,democracy_score_2015,democracy_score_2016,democracy_score_2017,democracy_score_2018,democracy_score_2019,democracy_score_2020,democracy_score_2021,democracy_score_2022
0,Afghanistan,2.77,2.55,2.55,2.97,2.85,2.85,0.32,0.32
2,Albania,5.91,5.91,5.98,5.98,5.89,6.08,6.11,6.41
3,Algeria,3.95,3.56,3.56,3.50,4.01,3.77,3.77,3.66
4,Angola,3.35,3.40,3.62,3.62,3.72,3.66,3.37,3.96
5,Argentina,7.02,6.96,6.96,7.02,7.02,6.95,6.81,6.85
...,...,...,...,...,...,...,...,...,...
168,Venezuela,5.00,4.68,3.87,3.16,2.88,2.76,2.11,2.23
169,Vietnam,3.53,3.38,3.08,3.08,3.08,2.94,2.94,2.73
171,Yemen,2.24,2.07,2.07,1.95,1.95,1.95,1.95,1.95
172,Zambia,6.28,5.99,5.68,5.61,5.09,4.86,5.72,5.80
173,Zimbabwe,3.05,3.05,3.16,3.16,3.16,3.16,2.92,2.92

In [16]:
# import and fix countries geojson data
countries_gpd = gpd.read_file('Datasets/geoJSONs/countries.geojson')
countries_gpd = countries_gpd.rename(columns={'ADMIN':'Entity'})
countries = countries_gpd['Entity'].unique()
countries_gpd

,Entity,ISO_A3,ISO_A2,geometry
0,Aruba,ABW,AW,"MULTIPOLYGON (((-69.99694 12.57758, -69.93639 ..."
1,Afghanistan,AFG,AF,"MULTIPOLYGON (((71.04980 38.40866, 71.05714 38..."
2,Angola,AGO,AO,"MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -..."
3,Anguilla,AIA,AI,"MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ..."
4,Albania,ALB,AL,"MULTIPOLYGON (((19.74777 42.57890, 19.74601 42..."
...,...,...,...,...
250,Samoa,WSM,WS,"MULTIPOLYGON (((-171.57002 -13.93816, -171.564..."
251,Yemen,YEM,YE,"MULTIPOLYGON (((53.30824 12.11839, 53.31027 12..."
252,South Africa,ZAF,ZA,"MULTIPOLYGON (((37.86378 -46.94085, 37.83644 -..."
253,Zambia,ZMB,ZM,"MULTIPOLYGON (((31.11984 -8.61663, 31.14102 -8..."
254,Zimbabwe,ZWE,ZW,"MULTIPOLYGON (((30.01065 -15.64623, 30.05024 -..."

In [17]:
# all the countries that are in countries but not democracy_countries
diff1 = list(set(democracy_countries) - set(countries))
diff1

['North Macedonia',
 "Cote d'Ivoire",
 'Czechia',
 'Democratic Republic of Congo',
 'Guinea-Bissau',
 'Congo',
 'Eswatini',
 'Hong Kong',
 'Serbia',
 'Tanzania',
 'Timor']

In [18]:
# the two dataframes have the same country under different names, so reconcile that
mapping_dict = {
    "United Republic of Tanzania" : 'Tanzania',
    'Czech Republic' : 'Czechia',
    'Swaziland' : 'Eswatini',
    'Democratic Republic of the Congo' : 'Democratic Republic of Congo',
    'Republic of Congo' : 'Congo',
    'Hong Kong S.A.R.' : 'Hong Kong',
    'Guinea Bissau' : 'Guinea-Bissau',
    'Macedonia' : 'North Macedonia',
    'East Timor' : 'Timor',
    'Ivory Coast' : "Cote d'Ivoire",
    'Oceania' : "Australia",
    'Republic of Serbia' : 'Serbia'
}

corrected_list = [mapping_dict.get(country, country) for country in countries]

In [19]:
# all the countries that are in corrected list but not in democracy_countries
diff2 = list(set(democracy_countries) - set(corrected_list))
print(diff2)

[]

In [20]:
countries_gpd['Entity'] = countries_gpd['Entity'].replace(mapping_dict)

In [21]:
democracy_merged = countries_gpd.merge(democracy_df, on='Entity', how='right')
democracy_merged

,Entity,ISO_A3,ISO_A2,geometry,democracy_score_2015,democracy_score_2016,democracy_score_2017,democracy_score_2018,democracy_score_2019,democracy_score_2020,democracy_score_2021,democracy_score_2022
0,Afghanistan,AFG,AF,"MULTIPOLYGON (((71.04980 38.40866, 71.05714 38...",2.77,2.55,2.55,2.97,2.85,2.85,0.32,0.32
1,Albania,ALB,AL,"MULTIPOLYGON (((19.74777 42.57890, 19.74601 42...",5.91,5.91,5.98,5.98,5.89,6.08,6.11,6.41
2,Algeria,DZA,DZ,"MULTIPOLYGON (((8.60251 36.93951, 8.60566 36.9...",3.95,3.56,3.56,3.50,4.01,3.77,3.77,3.66
3,Angola,AGO,AO,"MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -...",3.35,3.40,3.62,3.62,3.72,3.66,3.37,3.96
4,Argentina,ARG,AR,"MULTIPOLYGON (((-68.65412 -54.88624, -68.65414...",7.02,6.96,6.96,7.02,7.02,6.95,6.81,6.85
...,...,...,...,...,...,...,...,...,...,...,...,...
162,Venezuela,VEN,VE,"MULTIPOLYGON (((-61.39027 8.58058, -61.36986 8...",5.00,4.68,3.87,3.16,2.88,2.76,2.11,2.23
163,Vietnam,VNM,VN,"MULTIPOLYGON (((106.66871 8.75349, 106.66586 8...",3.53,3.38,3.08,3.08,3.08,2.94,2.94,2.73
164,Yemen,YEM,YE,"MULTIPOLYGON (((53.30824 12.11839, 53.31027 12...",2.24,2.07,2.07,1.95,1.95,1.95,1.95,1.95
165,Zambia,ZMB,ZM,"MULTIPOLYGON (((31.11984 -8.61663, 31.14102 -8...",6.28,5.99,5.68,5.61,5.09,4.86,5.72,5.80
166,Zimbabwe,ZWE,ZW,"MULTIPOLYGON (((30.01065 -15.64623, 30.05024 -...",3.05,3.05,3.16,3.16,3.16,3.16,2.92,2.92

In [22]:
# Convert the GeoDataFrame to a long format DataFrame
democracy_long_df = democracy_merged.melt(
    id_vars=['Entity', 'ISO_A3', 'ISO_A2', 'geometry'],
    value_vars=['democracy_score_2015', 'democracy_score_2016',
                'democracy_score_2017', 'democracy_score_2018','democracy_score_2019', 'democracy_score_2020', 'democracy_score_2021','democracy_score_2022'],
    var_name='Year',
    value_name='Democracy Score'
)

# Extract the year from the Year column
democracy_long_df['Year'] = democracy_long_df['Year'].str.extract('(\d+)').astype(int)

# Use the data_server provider to allow Altair to work with the GeoDataFrame directly
alt.data_transformers.register('data_server', data_server)
alt.data_transformers.enable('data_server')

# Define the base chart
base_chart = alt.Chart(democracy_long_df).mark_geoshape(
    stroke='black',
    strokeWidth=0.5
).encode(
    tooltip=[
        alt.Tooltip('Entity:N', title='Country'),
    ]
).project('equirectangular')

# Create a list of years for which you have happiness scores
years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

# Create a slider for selecting the year
year_slider = alt.binding_range(min=years[0], max=years[-1], step=1)
slider_selection = alt.selection_single(bind=year_slider, fields=['Year'], name='Select', init={'Year': years[0]})

# Define the choropleth map using the year slider
map_chart = base_chart.add_selection(
    slider_selection
).transform_filter(
    slider_selection
).encode(
    color=alt.Color('Democracy Score:Q', title='Democracy Score', scale=alt.Scale(scheme='viridis')),
    tooltip=[
        alt.Tooltip('Entity:N', title='Country'),
        alt.Tooltip('Democracy Score:Q', title='Democracy Score')
    ]
).properties(
    title="Democracy Score by Country",
    width = 800, 
    height = 600
)

# Display the map
map_chart

alt.Chart(...)

# Control Variables
- [GDP per capita](https://data.worldbank.org/indicator/NY.GDP.PCAP.PP.CD)
- [Healthy life expectancy](https://apps.who.int/gho/data/view.main.SDG2016LEXv?lang=en)
- Social support
- Freedom
- Generosity
- Corruption

## GDP Per Capita in terms  of Purchasing Power Parity adjusted to constant dollars

In [1]:
import pandas as pd
import altair as alt

In [4]:
gdp_path = 'Datasets/Control_Variables/GDP_per_capita_PPP_(current_international_$).csv'
gdp_df = pd.read_csv(gdp_path)

gdp_df.drop(columns = ['Country Code','Indicator Name','Indicator Code'], inplace = True)

gdp_df.dropna(how='all', axis=1, inplace=True)

columns_to_drop = list(range(1990, 2019))
columns_to_drop = [str(year) for year in columns_to_drop]

gdp_df.drop(columns=columns_to_drop, inplace=True)

gdp_df.dropna(subset=['2019', '2020', '2021'], inplace=True)

gdp_df.reset_index(drop=True, inplace=True)

columns_to_round = ['2019', '2020', '2021']
gdp_df[columns_to_round] = gdp_df[columns_to_round].round(2)

gdp_df

                    Country Name      2019      2020      2021
0                          Aruba  42501.64  34971.01  42698.36
1    Africa Eastern and Southern   3777.97   3621.06   3839.47
2                    Afghanistan   2167.70   2076.14   1665.81
3     Africa Western and Central   4264.73   4174.50   4409.45
4                         Angola   6881.08   6362.64   6491.13
..                           ...       ...       ...       ...
233                        Samoa   6613.98   6394.38   6079.76
234                       Kosovo  11796.15  11292.86  13055.90
235                 South Africa  14436.83  13517.78  14624.42
236                       Zambia   3514.69   3358.01   3555.92
237                     Zimbabwe   2296.39   2099.32   2323.69

[238 rows x 4 columns]

## Healthy Life Expectancy

The WHO dataset only gives us data 2005, 2010, 2015, and 2019. So, to get 2019, 2020, and 2021, I'll interpolate the data. This is the same approach used in the World Happiness Report as they reported [here](https://happiness-report.s3.amazonaws.com/2022/Appendix_1_StatiscalAppendix_Ch2.pdf)

In [1]:
import numpy as np
from scipy.interpolate import BarycentricInterpolator
import pandas as pd

/Users/luciusgao/miniconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
hle_path = 'Datasets/Control_Variables/HLE_by_country.csv'
hle_df = pd.read_csv(hle_path)

hle_df.rename(columns={'Unnamed: 0':'Country', 'Unnamed: 1':'Year'}, inplace=True)
selected_columns = [
    'Country',
    'Year',
    'Life expectancy at birth (years)',
    'Life expectancy at age 60 (years)',
    'Healthy life expectancy (HALE) at birth (years)',
    'Healthy life expectancy (HALE) at age 60 (years)',
]
# this is for both sexes
hle_df = hle_df[selected_columns]
hle_df.drop(0, inplace=True)

columns_to_convert = [
    'Life expectancy at birth (years)',
    'Life expectancy at age 60 (years)',
    'Healthy life expectancy (HALE) at birth (years)',
    'Healthy life expectancy (HALE) at age 60 (years)',
]
hle_df[columns_to_convert] = hle_df[columns_to_convert].astype(float)

hle_df['Year'] = hle_df['Year'].astype(int)

hle_df

,Country,Year,Life expectancy at birth (years),Life expectancy at age 60 (years),Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at age 60 (years)
1,Afghanistan,2019,63.2,15.2,53.9,10.8
2,Afghanistan,2015,61.7,15.6,52.6,11.2
3,Afghanistan,2010,59.9,15.1,51.1,10.9
4,Afghanistan,2000,55.0,13.9,46.8,10.2
5,Albania,2019,78.0,21.0,69.1,16.6
...,...,...,...,...,...,...
728,Zambia,2000,44.5,13.2,39.0,10.0
729,Zimbabwe,2019,60.7,15.6,53.1,11.5
730,Zimbabwe,2015,58.5,15.1,51.2,11.2
731,Zimbabwe,2010,51.5,14.1,45.2,10.5
732,Zimbabwe,2000,46.6,14.4,41.0,10.6

In [3]:
def interpolate_hle_data(years, hle_values, target_years):
    interpolator = BarycentricInterpolator(years, hle_values)
    return interpolator(target_years)

In [4]:
countries = hle_df['Country'].unique()
target_years = [2019, 2020, 2021, 2022]

In [5]:
# Initialize an empty dictionary to store the results
estimated_hle_data = {}

for country in countries:
    # Filter data for the current country
    country_data = hle_df[hle_df['Country'] == country]
    
    # Extract years and HLE values for the current country
    years = country_data['Year'].values
    hle_birth_values = country_data['Healthy life expectancy (HALE) at birth (years)'].values.astype(float)
    hle_age_60_values = country_data['Healthy life expectancy (HALE) at age 60 (years)'].values.astype(float)
    
    # Perform interpolation for HLE at birth and age 60
    estimated_hle_birth = interpolate_hle_data(years, hle_birth_values, target_years)
    estimated_hle_age_60 = interpolate_hle_data(years, hle_age_60_values, target_years)
    
    # Store the original and interpolated results for the current country
    estimated_hle_data[country] = {
        'HALE_at_birth': dict(zip(target_years, estimated_hle_birth)),
        'HALE_at_age_60': dict(zip(target_years, estimated_hle_age_60)),
    }

print(estimated_hle_data)

{'Afghanistan': {'HALE_at_birth': {2019: 53.9, 2020: 54.26900584795322, 2021: 54.662842105263174, 2022: 55.08512280701752}, 'HALE_at_age_60': {2019: 10.8, 2020: 10.56608187134503, 2021: 10.267789473684212, 2022: 9.899719298245612}}, 'Albania': {'HALE_at_birth': {2019: 69.1, 2020: 68.90175438596489, 2021: 68.59463157894737, 2022: 68.16884210526315}, 'HALE_at_age_60': {2019: 16.6, 2020: 16.583625730994154, 2021: 16.5761052631579, 2022: 16.58014035087721}}, 'Algeria': {'HALE_at_birth': {2019: 66.4, 2020: 66.53157894736844, 2021: 66.68336842105265, 2022: 66.85915789473685}, 'HALE_at_age_60': {2019: 16.0, 2020: 16.002339181286548, 2021: 15.994842105263158, 2022: 15.977122807017539}}, 'Angola': {'HALE_at_birth': {2019: 54.8, 2020: 54.80877192982456, 2021: 54.693157894736835, 2022: 54.44421052631579}, 'HALE_at_age_60': {2019: 12.6, 2020: 12.611111111111112, 2021: 12.604, 2022: 12.577333333333327}}, 'Antigua and Barbuda': {'HALE_at_birth': {2019: 67.0, 2020: 67.09298245614036, 2021: 67.20947368421055, 2022: 67.3526315789474}, 'HALE_at_age_60': {2019: 15.8, 2020: 15.801754385964914, 2021: 15.80463157894737, 2022: 15.80884210526316}}, 'Argentina': {'HALE_at_birth': {2019: 67.1, 2020: 67.0906432748538, 2021: 67.05263157894736, 2022: 66.98350877192982}, 'HALE_at_age_60': {2019: 16.3, 2020: 16.312280701754386, 2021: 16.31842105263158, 2022: 16.317894736842106}}, 'Armenia': {'HALE_at_birth': {2019: 67.1, 2020: 67.38538011695906, 2021: 67.67273684210527, 2022: 67.96098245614033}, 'HALE_at_age_60': {2019: 15.7, 2020: 15.943274853801169, 2021: 16.217578947368416, 2022: 16.524771929824563}}, 'Australia': {'HALE_at_birth': {2019: 70.9, 2020: 70.98479532163745, 2021: 71.07652631578951, 2022: 71.176701754386}, 'HALE_at_age_60': {2019: 19.0, 2020: 19.163157894736845, 2021: 19.35873684210526, 2022: 19.59031578947369}}, 'Austria': {'HALE_at_birth': {2019: 70.9, 2020: 71.05847953216374, 2021: 71.23505263157894, 2022: 71.43207017543857}, 'HALE_at_age_60': {2019: 18.3, 2020: 18.483625730994156, 2021: 18.710105263157903, 2022: 18.9841403508772}}, 'Azerbaijan': {'HALE_at_birth': {2019: 63.6, 2020: 63.600584795321645, 2021: 63.54221052631579, 2022: 63.420280701754386}, 'HALE_at_age_60': {2019: 13.4, 2020: 13.494152046783627, 2021: 13.595894736842109, 2022: 13.705192982456147}}, 'Bahamas': {'HALE_at_birth': {2019: 64.4, 2020: 64.54093567251464, 2021: 64.73073684210529, 2022: 64.97564912280703}, 'HALE_at_age_60': {2019: 16.2, 2020: 16.188304093567247, 2021: 16.171789473684214, 2022: 16.15038596491228}}, 'Bahrain': {'HALE_at_birth': {2019: 65.9, 2020: 65.57017543859648, 2021: 65.11926315789475, 2022: 64.53768421052632}, 'HALE_at_age_60': {2019: 13.8, 2020: 13.425146198830411, 2021: 12.917052631578951, 2022: 12.264070175438599}}, 'Bangladesh': {'HALE_at_birth': {2019: 64.3, 2020: 64.07251461988304, 2021: 63.6721052631579, 2022: 63.08280701754385}, 'HALE_at_age_60': {2019: 15.5, 2020: 15.249707602339182, 2021: 14.873894736842102, 2022: 14.359859649122804}}, 'Barbados': {'HALE_at_birth': {2019: 67.0, 2020: 66.88421052631578, 2021: 66.73831578947366, 2022: 66.56042105263157}, 'HALE_at_age_60': {2019: 16.3, 2020: 16.053801169590642, 2021: 15.749368421052628, 2022: 15.381824561403512}}, 'Belarus': {'HALE_at_birth': {2019: 66.0, 2020: 65.86900584795322, 2021: 65.55484210526316, 2022: 65.0371228070176}, 'HALE_at_age_60': {2019: 15.1, 2020: 15.068421052631578, 2021: 14.968631578947367, 2022: 14.792842105263158}}, 'Belgium': {'HALE_at_birth': {2019: 70.6, 2020: 70.73801169590642, 2021: 70.86968421052629, 2022: 70.99424561403505}, 'HALE_at_age_60': {2019: 18.2, 2020: 18.27251461988304, 2021: 18.344105263157893, 2022: 18.414807017543858}}, 'Belize': {'HALE_at_birth': {2019: 65.3, 2020: 65.33040935672514, 2021: 65.35494736842105, 2022: 65.37459649122805}, 'HALE_at_age_60': {2019: 16.7, 2020: 16.712865497076027, 2021: 16.736631578947367, 2022: 16.774175438596494}}, 'Benin': {'HALE_at_birth': {2019: 55.5, 2020: 55.84795321637428, 2021: 56.221263157894754, 2022: 56.623017543859625}, 'HALE_at_age_60': {2019: 13.0, 2020: 13.1046783625731, 2021: 13.223684210526315, 2022: 13.35824561403509}}, 'Bhutan': {'HALE_at_birth': {2019: 63.4, 2020: 63.666081871345035, 2021: 63.971789473684204, 2022: 64.3237192982456}, 'HALE_at_age_60': {2019: 14.5, 2020: 14.517543859649125, 2021: 14.532315789473682, 2022: 14.544421052631577}}, 'Bolivia (Plurinational State of)': {'HALE_at_birth': {2019: 63.3, 2020: 63.43918128654971, 2021: 63.57810526315789, 2022: 63.71880701754384}, 'HALE_at_age_60': {2019: 14.2, 2020: 14.27719298245614, 2021: 14.381789473684208, 2022: 14.517052631578942}}, 'Bosnia and Herzegovina': {'HALE_at_birth': {2019: 67.2, 2020: 67.30643274853803, 2021: 67.44231578947371, 2022: 67.61108771929828}, 'HALE_at_age_60': {2019: 15.2, 2020: 15.314619883040935, 2021: 15.461263157894736, 2022: 15.643017543859647}}, 'Botswana': {'HALE_at_birth': {2019: 53.9, 2020: 54.1421052631579, 2021: 54.38515789473686, 2022: 54.6362105263158}, 'HALE_at_age_60': {2019: 11.8, 2020: 11.842105263157896, 2021: 11.883157894736845, 2022: 11.924210526315793}}, 'Brazil': {'HALE_at_birth': {2019: 65.4, 2020: 65.5982456140351, 2021: 65.80936842105262, 2022: 66.03515789473686}, 'HALE_at_age_60': {2019: 16.4, 2020: 16.583625730994147, 2021: 16.79610526315789, 2022: 17.04014035087719}}, 'Brunei Darussalam': {'HALE_at_birth': {2019: 65.6, 2020: 65.60760233918127, 2021: 65.63673684210525, 2022: 65.69164912280695}, 'HALE_at_age_60': {2019: 14.5, 2020: 14.622222222222224, 2021: 14.783999999999999, 2022: 14.990666666666666}}, 'Bulgaria': {'HALE_at_birth': {2019: 66.3, 2020: 66.37134502923976, 2021: 66.42968421052632, 2022: 66.47424561403503}, 'HALE_at_age_60': {2019: 15.2, 2020: 15.226315789473684, 2021: 15.241473684210522, 2022: 15.24463157894737}}, 'Burkina Faso': {'HALE_at_birth': {2019: 54.9, 2020: 55.25321637426901, 2021: 55.601157894736836, 2022: 55.94554385964911}, 'HALE_at_age_60': {2019: 12.6, 2020: 12.708187134502925, 2021: 12.832947368421054, 2022: 12.975929824561396}}, 'Burundi': {'HALE_at_birth': {2019: 55.6, 2020: 55.92923976608188, 2021: 56.24252631578948, 2022: 56.5460350877193}, 'HALE_at_age_60': {2019: 12.7, 2020: 12.793567251461988, 2021: 12.899684210526315, 2022: 13.02091228070175}}, 'Cabo Verde': {'HALE_at_birth': {2019: 64.8, 2020: 64.51578947368421, 2021: 64.1456842105263, 2022: 63.68357894736839}, 'HALE_at_age_60': {2019: 14.9, 2020: 14.313450292397663, 2021: 13.616842105263153, 2022: 12.802456140350875}}, 'Cambodia': {'HALE_at_birth': {2019: 61.5, 2020: 61.65497076023393, 2021: 61.79978947368423, 2022: 61.93838596491229}, 'HALE_at_age_60': {2019: 13.2, 2020: 13.202339181286549, 2021: 13.194842105263154, 2022: 13.177122807017543}}, 'Cameroon': {'HALE_at_birth': {2019: 54.5, 2020: 55.35847953216374, 2021: 56.30305263157894, 2022: 57.34007017543862}, 'HALE_at_age_60': {2019: 12.8, 2020: 12.963157894736845, 2021: 13.144736842105267, 2022: 13.34631578947368}}, 'Canada': {'HALE_at_birth': {2019: 71.3, 2020: 71.35555555555555, 2021: 71.416, 2022: 71.48266666666666}, 'HALE_at_age_60': {2019: 19.0, 2020: 19.074269005847956, 2021: 19.16273684210526, 2022: 19.267649122807025}}, 'Central African Republic': {'HALE_at_birth': {2019: 46.4, 2020: 47.13508771929825, 2021: 47.96063157894736, 2022: 48.88484210526314}, 'HALE_at_age_60': {2019: 10.0, 2020: 10.15263157894737, 2021: 10.330947368421052, 2022: 10.537263157894737}}, 'Chad': {'HALE_at_birth': {2019: 52.0, 2020: 52.37251461988305, 2021: 52.7441052631579, 2022: 53.11480701754386}, 'HALE_at_age_60': {2019: 12.3, 2020: 12.365497076023393, 2021: 12.425578947368425, 2022: 12.479438596491228}}, 'Chile': {'HALE_at_birth': {2019: 70.0, 2020: 70.11929824561403, 2021: 70.22294736842106, 2022: 70.30926315789473}, 'HALE_at_age_60': {2019: 18.4, 2020: 18.435087719298245, 2021: 18.436631578947363, 2022: 18.40084210526316}}, 'China': {'HALE_at_birth': {2019: 68.5, 2020: 68.51754385964912, 2021: 68.48431578947367, 2022: 68.39642105263155}, 'HALE_at_age_60': {2019: 15.9, 2020: 15.911111111111115, 2021: 15.890000000000004, 2022: 15.833333333333334}}, 'Colombia': {'HALE_at_birth': {2019: 69.0, 2020: 69.15263157894738, 2021: 69.29694736842109, 2022: 69.43326315789474}, 'HALE_at_age_60': {2019: 18.1, 2020: 18.220467836257313, 2021: 18.351368421052637, 2022: 18.493824561403514}}, 'Comoros': {'HALE_at_birth': {2019: 58.9, 2020: 59.033918128654975, 2021: 59.150210526315796, 2022: 59.248280701754375}, 'HALE_at_age_60': {2019: 13.7, 2020: 13.769005847953215, 2021: 13.848842105263158, 2022: 13.94112280701754}}, 'Congo': {'HALE_at_birth': {2019: 56.2, 2020: 56.54502923976609, 2021: 56.9102105263158, 2022: 57.30161403508774}, 'HALE_at_age_60': {2019: 12.2, 2020: 12.23333333333333, 2021: 12.26, 2022: 12.28}}, 'Costa Rica': {'HALE_at_birth': {2019: 70.0, 2020: 69.85730994152047, 2021: 69.64463157894738, 2022: 69.35550877192979}, 'HALE_at_age_60': {2019: 18.7, 2020: 18.642690058479534, 2021: 18.54536842105263, 2022: 18.40449122807016}}, "Côte d'Ivoire": {'HALE_at_birth': {2019: 54.8, 2020: 55.34502923976608, 2021: 55.87421052631579, 2022: 56.38561403508773}, 'HALE_at_age_60': {2019: 12.7, 2020: 12.823976608187133, 2021: 12.946631578947366, 2022: 13.067508771929827}}, 'Croatia': {'HALE_at_birth': {2019: 68.6, 2020: 68.83391812865496, 2021: 69.09821052631577, 2022: 69.39628070175436}, 'HALE_at_age_60': {2019: 16.2, 2020: 16.320467836257308, 2021: 16.451368421052628, 2022: 16.593824561403505}}, 'Cuba': {'HALE_at_birth': {2019: 67.8, 2020: 67.7233918128655, 2021: 67.63642105263158, 2022: 67.53922807017541}, 'HALE_at_age_60': {2019: 16.3, 2020: 16.185380116959063, 2021: 16.038736842105266, 2022: 15.856982456140354}}, 'Cyprus': {'HALE_at_birth': {2019: 72.4, 2020: 72.6356725146199, 2021: 72.88884210526318, 2022: 73.16112280701758}, 'HALE_at_age_60': {2019: 19.0, 2020: 19.127485380116955, 2021: 19.2558947368421, 2022: 19.385192982456132}}, 'Czechia': {'HALE_at_birth': {2019: 68.8, 2020: 68.93976608187134, 2021: 69.08831578947368, 2022: 69.24708771929824}, 'HALE_at_age_60': {2019: 16.3, 2020: 16.46315789473684, 2021: 16.658736842105263, 2022: 16.890315789473686}}, "Democratic People's Republic of Korea": {'HALE_at_birth': {2019: 65.0, 2020: 65.14853801169592, 2021: 65.29147368421053, 2022: 65.43129824561403}, 'HALE_at_age_60': {2019: 14.9, 2020: 15.034502923976609, 2021: 15.18842105263158, 2022: 15.364561403508768}}, 'Democratic Republic of the Congo': {'HALE_at_birth': {2019: 54.1, 2020: 54.45438596491227, 2021: 54.77357894736841, 2022: 55.0541052631579}, 'HALE_at_age_60': {2019: 12.5, 2020: 12.478362573099414, 2021: 12.420210526315788, 2022: 12.321614035087718}}, 'Denmark': {'HALE_at_birth': {2019: 71.0, 2020: 71.0374269005848, 2021: 71.03147368421054, 2022: 70.97796491228067}, 'HALE_at_age_60': {2019: 18.2, 2020: 18.21637426900585, 2021: 18.20389473684211, 2022: 18.1598596491228}}, 'Djibouti': {'HALE_at_birth': {2019: 58.0, 2020: 58.00409356725146, 2021: 57.88147368421051, 2022: 57.61796491228071}, 'HALE_at_age_60': {2019: 13.6, 2020: 13.641520467836255, 2021: 13.678947368421053, 2022: 13.7119298245614}}, 'Dominican Republic': {'HALE_at_birth': {2019: 64.0, 2020: 64.62046783625732, 2021: 65.45136842105265, 2022: 66.5138245614035}, 'HALE_at_age_60': {2019: 16.0, 2020: 16.310526315789478, 2021: 16.73778947368421, 2022: 17.293052631578952}}, 'Ecuador': {'HALE_at_birth': {2019: 68.5, 2020: 68.62456140350876, 2021: 68.68084210526312, 2022: 68.6597894736842}, 'HALE_at_age_60': {2019: 17.6, 2020: 17.70292397660819, 2021: 17.79105263157895, 2022: 17.861403508771932}}, 'Egypt': {'HALE_at_birth': {2019: 63.0, 2020: 63.4093567251462, 2021: 63.89536842105262, 2022: 64.46449122807016}, 'HALE_at_age_60': {2019: 13.4, 2020: 13.791228070175439, 2021: 14.300842105263161, 2022: 14.939789473684211}}, 'El Salvador': {'HALE_at_birth': {2019: 64.9, 2020: 65.76081871345029, 2021: 66.87789473684212, 2022: 68.27719298245613}, 'HALE_at_age_60': {2019: 16.4, 2020: 16.538596491228066, 2021: 16.721894736842106, 2022: 16.95452631578946}}, 'Equatorial Guinea': {'HALE_at_birth': {2019: 53.9, 2020: 54.20233918128657, 2021: 54.53684210526317, 2022: 54.90912280701752}, 'HALE_at_age_60': {2019: 12.9, 2020: 12.907602339181286, 2021: 12.922736842105264, 2022: 12.947649122807022}}, 'Eritrea': {'HALE_at_birth': {2019: 55.7, 2020: 56.23040935672515, 2021: 56.830947368421036, 2022: 57.51059649122806}, 'HALE_at_age_60': {2019: 11.4, 2020: 11.47076023391813, 2021: 11.539473684210527, 2022: 11.605964912280704}}, 'Estonia': {'HALE_at_birth': {2019: 69.2, 2020: 69.40467836257312, 2021: 69.60368421052635, 2022: 69.79824561403511}, 'HALE_at_age_60': {2019: 17.3, 2020: 17.397076023391815, 2021: 17.480947368421052, 2022: 17.55059649122807}}, 'Eswatini': {'HALE_at_birth': {2019: 50.1, 2020: 50.45438596491228, 2021: 50.56357894736842, 2022: 50.39410526315792}, 'HALE_at_age_60': {2019: 11.0, 2020: 10.997076023391815, 2021: 10.938947368421054, 2022: 10.81859649122807}}, 'Ethiopia': {'HALE_at_birth': {2019: 59.9, 2020: 60.1514619883041, 2021: 60.34252631578948, 2022: 60.47270175438594}, 'HALE_at_age_60': {2019: 13.9, 2020: 13.957894736842107, 2021: 14.01084210526316, 2022: 14.059789473684216}}, 'Fiji': {'HALE_at_birth': {2019: 59.6, 2020: 59.604093567251454, 2021: 59.61347368421053, 2022: 59.629964912280684}, 'HALE_at_age_60': {2019: 11.8, 2020: 11.838011695906433, 2021: 11.883684210526319, 2022: 11.938245614035091}}, 'Finland': {'HALE_at_birth': {2019: 71.0, 2020: 70.94502923976609, 2021: 70.82621052631579, 2022: 70.6376140350877}, 'HALE_at_age_60': {2019: 18.5, 2020: 18.512865497076024, 2021: 18.50863157894737, 2022: 18.486175438596494}}, 'France': {'HALE_at_birth': {2019: 72.1, 2020: 72.21578947368421, 2021: 72.3416842105263, 2022: 72.47957894736844}, 'HALE_at_age_60': {2019: 19.7, 2020: 19.774269005847955, 2021: 19.86273684210526, 2022: 19.967649122807018}}, 'Gabon': {'HALE_at_birth': {2019: 57.6, 2020: 57.79122807017545, 2021: 57.91484210526316, 2022: 57.96378947368423}, 'HALE_at_age_60': {2019: 12.8, 2020: 12.826315789473686, 2021: 12.841473684210527, 2022: 12.844631578947368}}, 'Gambia': {'HALE_at_birth': {2019: 57.0, 2020: 57.315204678362576, 2021: 57.637473684210526, 2022: 57.96729824561405}, 'HALE_at_age_60': {2019: 12.6, 2020: 12.60701754385965, 2021: 12.604526315789478, 2022: 12.591368421052625}}, 'Georgia': {'HALE_at_birth': {2019: 64.7, 2020: 64.86023391812866, 2021: 65.03968421052632, 2022: 65.24091228070178}, 'HALE_at_age_60': {2019: 14.4, 2020: 14.48421052631579, 2021: 14.586315789473687, 2022: 14.708421052631577}}, 'Germany': {'HALE_at_birth': {2019: 70.9, 2020: 71.27543859649124, 2021: 71.73915789473685, 2022: 72.3002105263158}, 'HALE_at_age_60': {2019: 18.5, 2020: 18.907602339181288, 2021: 19.418736842105268, 2022: 20.04364912280702}}, 'Ghana': {'HALE_at_birth': {2019: 58.0, 2020: 58.28479532163743, 2021: 58.52052631578948, 2022: 58.70070175438595}, 'HALE_at_age_60': {2019: 12.9, 2020: 12.938011695906434, 2021: 12.95568421052632, 2022: 12.950245614035092}}, 'Greece': {'HALE_at_birth': {2019: 70.9, 2020: 71.07368421052632, 2021: 71.27252631578946, 2022: 71.49936842105258}, 'HALE_at_age_60': {2019: 18.4, 2020: 18.49473684210526, 2021: 18.614105263157892, 2022: 18.761473684210525}}, 'Grenada': {'HALE_at_birth': {2019: 63.9, 2020: 63.81637426900587, 2021: 63.68989473684213, 2022: 63.51585964912279}, 'HALE_at_age_60': {2019: 14.3, 2020: 14.040350877192985, 2021: 13.674526315789478, 2022: 13.191368421052628}}, 'Guatemala': {'HALE_at_birth': {2019: 62.3, 2020: 62.42339181286549, 2021: 62.50842105263158, 2022: 62.55122807017544}, 'HALE_at_age_60': {2019: 15.0, 2020: 15.149122807017545, 2021: 15.321684210526318, 2022: 15.519578947368418}}, 'Guinea': {'HALE_at_birth': {2019: 53.3, 2020: 54.068421052631585, 2021: 54.996631578947365, 2022: 56.10084210526313}, 'HALE_at_age_60': {2019: 12.3, 2020: 12.466081871345034, 2021: 12.663789473684215, 2022: 12.895719298245615}}, 'Guinea-Bissau': {'HALE_at_birth': {2019: 52.6, 2020: 52.99532163742691, 2021: 53.376315789473686, 2022: 53.741754385964924}, 'HALE_at_age_60': {2019: 11.4, 2020: 11.533918128654971, 2021: 11.68421052631579, 2022: 11.852280701754385}}, 'Guyana': {'HALE_at_birth': {2019: 57.2, 2020: 57.10526315789474, 2021: 56.96589473684212, 2022: 56.778526315789456}, 'HALE_at_age_60': {2019: 12.5, 2020: 12.39590643274854, 2021: 12.252526315789476, 2022: 12.066035087719303}}, 'Haiti': {'HALE_at_birth': {2019: 55.8, 2020: 50.52397660818713, 2021: 42.34863157894736, 2022: 30.939508771929823}, 'HALE_at_age_60': {2019: 12.8, 2020: 12.056725146198835, 2021: 10.90042105263158, 2022: 9.28322807017544}}, 'Honduras': {'HALE_at_birth': {2019: 63.0, 2020: 64.0093567251462, 2021: 65.30936842105262, 2022: 66.9284912280702}, 'HALE_at_age_60': {2019: 13.8, 2020: 14.095321637426904, 2021: 14.500315789473687, 2022: 15.025754385964918}}, 'Hungary': {'HALE_at_birth': {2019: 67.2, 2020: 67.36257309941521, 2021: 67.53452631578949, 2022: 67.7180350877193}, 'HALE_at_age_60': {2019: 15.3, 2020: 15.374269005847957, 2021: 15.462736842105267, 2022: 15.567649122807023}}, 'Iceland': {'HALE_at_birth': {2019: 72.0, 2020: 71.9719298245614, 2021: 71.91989473684208, 2022: 71.84252631578943}, 'HALE_at_age_60': {2019: 19.0, 2020: 18.961403508771934, 2021: 18.892105263157895, 2022: 18.78947368421053}}, 'India': {'HALE_at_birth': {2019: 60.3, 2020: 60.56315789473685, 2021: 60.81073684210526, 2022: 61.04231578947367}, 'HALE_at_age_60': {2019: 13.2, 2020: 13.166666666666666, 2021: 13.105999999999996, 2022: 13.016000000000002}}, 'Indonesia': {'HALE_at_birth': {2019: 62.8, 2020: 62.844444444444434, 2021: 62.85000000000002, 2022: 62.813333333333375}, 'HALE_at_age_60': {2019: 13.4, 2020: 13.451461988304095, 2021: 13.502526315789474, 2022: 13.55270175438597}}, 'Iran (Islamic Republic of)': {'HALE_at_birth': {2019: 66.3, 2020: 66.47602339181287, 2021: 66.66736842105263, 2022: 66.87649122807015}, 'HALE_at_age_60': {2019: 15.7, 2020: 15.791228070175436, 2021: 15.904842105263157, 2022: 16.043789473684214}}, 'Iraq': {'HALE_at_birth': {2019: 62.7, 2020: 63.622807017543856, 2021: 64.7662105263158, 2022: 66.15094736842107}, 'HALE_at_age_60': {2019: 14.2, 2020: 14.145614035087721, 2021: 14.06442105263158, 2022: 13.9538947368421}}, 'Ireland': {'HALE_at_birth': {2019: 71.1, 2020: 71.21461988304094, 2021: 71.3412631578947, 2022: 71.48301754385965}, 'HALE_at_age_60': {2019: 18.6, 2020: 18.695321637426904, 2021: 18.804315789473684, 2022: 18.929754385964902}}, 'Israel': {'HALE_at_birth': {2019: 72.4, 2020: 72.63391812865498, 2021: 72.91221052631579, 2022: 73.24028070175443}, 'HALE_at_age_60': {2019: 19.3, 2020: 19.51637426900585, 2021: 19.77989473684211, 2022: 20.09585964912281}}, 'Italy': {'HALE_at_birth': {2019: 71.9, 2020: 71.97309941520467, 2021: 72.04831578947369, 2022: 72.12708771929829}, 'HALE_at_age_60': {2019: 18.9, 2020: 19.020467836257303, 2021: 19.165368421052627, 2022: 19.3378245614035}}, 'Jamaica': {'HALE_at_birth': {2019: 66.6, 2020: 66.62105263157893, 2021: 66.65557894736841, 2022: 66.70610526315788}, 'HALE_at_age_60': {2019: 16.4, 2020: 16.401754385964907, 2021: 16.41863157894736, 2022: 16.452842105263162}}, 'Japan': {'HALE_at_birth': {2019: 74.1, 2020: 74.23274853801169, 2021: 74.36978947368424, 2022: 74.51171929824562}, 'HALE_at_age_60': {2019: 20.4, 2020: 20.54093567251462, 2021: 20.702736842105256, 2022: 20.887649122807023}}, 'Jordan': {'HALE_at_birth': {2019: 67.6, 2020: 67.47017543859648, 2021: 67.28126315789474, 2022: 67.0296842105263}, 'HALE_at_age_60': {2019: 16.2, 2020: 16.107017543859648, 2021: 15.970526315789476, 2022: 15.78736842105263}}, 'Kazakhstan': {'HALE_at_birth': {2019: 65.0, 2020: 65.20058479532163, 2021: 65.3002105263158, 2022: 65.28828070175439}, 'HALE_at_age_60': {2019: 14.8, 2020: 14.874853801169595, 2021: 14.910947368421061, 2022: 14.903929824561406}}, 'Kenya': {'HALE_at_birth': {2019: 57.7, 2020: 58.02280701754387, 2021: 58.31221052631579, 2022: 58.56694736842106}, 'HALE_at_age_60': {2019: 13.1, 2020: 13.167251461988304, 2021: 13.230210526315787, 2022: 13.288280701754376}}, 'Kiribati': {'HALE_at_

In [6]:
rows = []

for country, hle in estimated_hle_data.items():
    for year, hle_birth in hle['HALE_at_birth'].items():
        hle_age_60 = hle['HALE_at_age_60'][year]
        row = {
            'Country': country,
            'Year': year,
            'HALE_at_birth': hle_birth,
            'HALE_at_age_60': hle_age_60,
        }
        rows.append(row)

In [7]:
hle = pd.DataFrame(rows)
hle = hle.sort_values(by=['Country', 'Year']).reset_index(drop=True)
columns_to_round = ['HALE_at_birth', 'HALE_at_age_60']
hle[columns_to_round] = hle[columns_to_round].round(2)
hle

         Country  Year  HALE_at_birth  HALE_at_age_60
0    Afghanistan  2019          53.90           10.80
1    Afghanistan  2020          54.27           10.57
2    Afghanistan  2021          54.66           10.27
3    Afghanistan  2022          55.09            9.90
4        Albania  2019          69.10           16.60
..           ...   ...            ...             ...
727       Zambia  2022          55.12           12.70
728     Zimbabwe  2019          53.10           11.50
729     Zimbabwe  2020          52.82           11.49
730     Zimbabwe  2021          52.16           11.44
731     Zimbabwe  2022          51.08           11.34

[732 rows x 4 columns]

In [8]:
hle = hle.pivot_table(
    index='Country',
    columns='Year',
    values=['HALE_at_birth', 'HALE_at_age_60']
)
hle.reset_index(inplace=True)
hle.columns = [f"{col[0]}_{col[1]}" if col[1] else col[0] for col in hle.columns]

hle

,Country,HALE_at_age_60_2019,HALE_at_age_60_2020,HALE_at_age_60_2021,HALE_at_age_60_2022,HALE_at_birth_2019,HALE_at_birth_2020,HALE_at_birth_2021,HALE_at_birth_2022
0,Afghanistan,10.8,10.57,10.27,9.90,53.9,54.27,54.66,55.09
1,Albania,16.6,16.58,16.58,16.58,69.1,68.90,68.59,68.17
2,Algeria,16.0,16.00,15.99,15.98,66.4,66.53,66.68,66.86
3,Angola,12.6,12.61,12.60,12.58,54.8,54.81,54.69,54.44
4,Antigua and Barbuda,15.8,15.80,15.80,15.81,67.0,67.09,67.21,67.35
...,...,...,...,...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),16.3,16.28,16.27,16.27,64.4,64.13,63.81,63.45
179,Viet Nam,14.8,14.81,14.81,14.80,65.3,65.42,65.56,65.71
180,Yemen,13.3,13.18,13.02,12.83,57.5,57.20,56.87,56.52
181,Zambia,12.6,12.65,12.68,12.70,54.4,54.69,54.93,55.12
182,Zimbabwe,11.5,11.49,11.44,11.34,53.1,52.82,52.16,51.08

In [9]:
# For hle_60 DataFrame
hle_60_columns = ['Country', 'HALE_at_age_60_2019', 'HALE_at_age_60_2020', 'HALE_at_age_60_2021', 'HALE_at_age_60_2022']
hle_60 = hle[hle_60_columns]
hle_60 = hle_60.rename(columns={
    'HALE_at_age_60_2019': '2019',
    'HALE_at_age_60_2020': '2020',
    'HALE_at_age_60_2021': '2021',
    'HALE_at_age_60_2022': '2022'
})


# For hle_birth DataFrame
hle_birth_columns = ['Country', 'HALE_at_birth_2019', 'HALE_at_birth_2020', 'HALE_at_birth_2021', 'HALE_at_birth_2022']
hle_birth = hle[hle_birth_columns]
hle_birth = hle_birth.rename(columns={
    'HALE_at_birth_2019': '2019',
    'HALE_at_birth_2020': '2020',
    'HALE_at_birth_2021': '2021',
    'HALE_at_birth_2022': '2022'
})

In [10]:
hle_60

                                Country  2019   2020   2021   2022
0                           Afghanistan  10.8  10.57  10.27   9.90
1                               Albania  16.6  16.58  16.58  16.58
2                               Algeria  16.0  16.00  15.99  15.98
3                                Angola  12.6  12.61  12.60  12.58
4                   Antigua and Barbuda  15.8  15.80  15.80  15.81
..                                  ...   ...    ...    ...    ...
178  Venezuela (Bolivarian Republic of)  16.3  16.28  16.27  16.27
179                            Viet Nam  14.8  14.81  14.81  14.80
180                               Yemen  13.3  13.18  13.02  12.83
181                              Zambia  12.6  12.65  12.68  12.70
182                            Zimbabwe  11.5  11.49  11.44  11.34

[183 rows x 5 columns]

In [11]:
hle_birth

                                Country  2019   2020   2021   2022
0                           Afghanistan  53.9  54.27  54.66  55.09
1                               Albania  69.1  68.90  68.59  68.17
2                               Algeria  66.4  66.53  66.68  66.86
3                                Angola  54.8  54.81  54.69  54.44
4                   Antigua and Barbuda  67.0  67.09  67.21  67.35
..                                  ...   ...    ...    ...    ...
178  Venezuela (Bolivarian Republic of)  64.4  64.13  63.81  63.45
179                            Viet Nam  65.3  65.42  65.56  65.71
180                               Yemen  57.5  57.20  56.87  56.52
181                              Zambia  54.4  54.69  54.93  55.12
182                            Zimbabwe  53.1  52.82  52.16  51.08

[183 rows x 5 columns]

In [13]:
hle_60.to_csv('Output_Datasets/Controls/hle_60.csv', index=False)
hle_birth.to_csv('Output_Datasets/Controls/hle_birth.csv', index=False)

## Social Support

In [8]:
import pandas as pd
import os

In [9]:
# Create Social Support Data Frame
pattern = r"Social Support"
social_support_df = filtered_dataframes[0][['Country']]
for i, df in enumerate(filtered_dataframes):
    # Extract the country and happiness score columns
    filtered_columns = df.filter(regex=pattern)

    country_ss_df = pd.concat([df['Country'], filtered_columns], axis=1)

    # Merge the result DataFrame with the country_happiness_df on the 'Country' column
    social_support_df = social_support_df.merge(country_ss_df, on='Country', how='right')

# Split the DataFrame into the first column and the remaining columns
first_column = social_support_df.iloc[:, 0:1]
remaining_columns = social_support_df.iloc[:, 1:]

# Sort the remaining columns
sorted_remaining_columns = remaining_columns.sort_index(axis=1)

# Concatenate the first column with the sorted remaining columns
social_support_df = pd.concat([first_column, sorted_remaining_columns], axis=1)

social_support_df

,Country,Social Support 2018,Social Support 2019,Social Support 2020,Social Support 2021
0,Norway,1.582,1.582,0.952487,0.954
1,Denmark,1.590,1.573,0.955991,0.954
2,Iceland,1.644,1.624,0.974670,0.983
3,Switzerland,1.549,1.526,0.942847,0.942
4,Finland,1.592,1.587,0.954330,0.954
...,...,...,...,...,...
150,Rwanda,0.896,0.711,0.540835,0.552
151,Syria,0.382,0.378,NaN,NaN
152,Tanzania,0.991,0.885,0.688933,0.702
153,Burundi,0.627,0.447,NaN,NaN
154,Central African Republic,NaN,NaN,NaN,NaN

In [ ]:
social_support_df.to_csv('Output_Datasets/Controls/social_support.csv', index=False)